<%- partial ('navbar.ejs') %>

<div class="col-sm-12" id="get-vcb">
  <div class="panel panel-info">
    <div class="panel-heading">Chức năng tự động tìm tên tài khoản khi nhập số tài khoản,
      chức năng này được sử dụng trên các website exchange tiền ảo</div>
    <div class="panel-body">
      <form class="form-horizontal" id="form_getname">
        <div class="form-group has-feedback has-danger">
          <label class="col-md-4 control-label">Số tài khoản</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" name="number_vcb" id="number_vcb" value="" placeholder="" required>
              <div class="input-group-addon">
                <i id="icon_put" class="fa fa-credit-card-alt" aria-hidden="true"></i>
                <i id="icon_load" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                <i id="icon_done" class="fa fa-check" aria-hidden="true"></i>
                <i id="icon_close" class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="name_vcb">Tên tài khoản:</label>
          <div class="col-sm-8">
            <input type="text" readonly="" name="name_vcb" value="" class="form-control" id="name_vcb" placeholder="">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
