<!--<div id="logo">-->
  <!--<div class="container text-center">-->
    <!--<p>Mission, Vission & Values</p>-->
  <!--</div>-->
<!--</div>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a></li>
      </ul>
    </div>
  </div>
</nav>
